/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

@media (max-width: 1200px) {
  .rowAroundEdges > div,
  .rowCenter > div {
    width: 300px;
  }
}

@media (max-width: 1150px) {
  .rowAroundEdges > div,
  .rowCenter > div {
    width: 270px;
  }
}

@media (max-width: 950px) {
  .rowAroundEdges > div,
  .rowCenter > div {
    width: 250px;
  }
}

@media (max-width: 880px) {
  .rowAroundEdges > div,
  .rowCenter > div {
    width: 220px;
  }
}

@media (max-width: 780px) {
  .rowAroundEdges > div,
  .rowCenter > div {
    margin: 5px;
  }
  .img_gallary {
    width: 100%;
    height: 100%;
    -o-object-fit: fill;
    object-fit: fill;
  }
  .rowAroundEdges > div,
  .rowCenter > div {
    width: 215px;
  }
}

@media (max-width: 730px) {
  .rowAroundEdges > div {
    height: 266px;
  }
  .rowAroundEdges > div,
  .rowCenter > div {
    width: 200px;
  }
}
@media (max-width: 690px) {
  .rowAroundEdges > div,
  .rowCenter > div {
    width: 180px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

@media (max-width: 600px) {
  .container_gallery {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .rowAroundEdges > div,
  .rowCenter > div {
    margin: 60px 0;
    width: 450px;
    height: 500px;
  }
  .rowCenter {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
  }
  .img_gallary {
    -o-object-fit: cover;
    object-fit: cover;
  }
  .container_gallery {
    overflow-x: hidden;
  }
}

@media (max-width: 520px) {
  .rowAroundEdges > div,
  .rowCenter > div {
    width: 400px;
  }
}
@media (max-width: 450px) {
  .rowAroundEdges > div,
  .rowCenter > div {
    width: 360px;
  }
}
@media (max-width: 400px) {
  .header-title {
    font-size: 56px;
    line-height: 43px;
  }
  .rowAroundEdges > div,
  .rowCenter > div {
    width: 298px;
  }
  .img_gallary {
    -o-object-fit: contain;
    object-fit: contain;
  }
  .header-paragraph {
    font-size: 19px;
    line-height: 26px;
  }
}
