.header {
  text-align: center;
  margin-bottom: 50px;
}

.header-title {
  margin-top: 50px;
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 68px;
  color: #000000;
}
.header-paragraph {
  font-family: "Open Sans Condensed", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.0185714em;

  color: #000000;
}

.container_gallery::-webkit-scrollbar {
  width: 0;
}
.container_gallery {
  height: 70vh;
  border-radius: 30px;
  border: 5px solid;
  overflow-y: scroll;
  display: flex;
  justify-content: center;
}

.rowAroundEdges {
  flex-direction: column;
}
.rowCenter {
  flex-direction: column;
}
.rowAroundEdges > div {
  width: 360px;
  height: 240px;
  margin: 15px;
}
.rowCenter > div {
  width: 360px;
  height: 540px;
  margin: 15px;
}
.img_gallary {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
