.header {
  text-align: center;
  margin-bottom: 50px;
}

.header-title {
  margin-top: 50px;
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 68px;
  color: #000000;
}
.header-paragraph {
  font-family: "Open Sans Condensed", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.0185714em;

  color: #000000;
}

.container_gallery::-webkit-scrollbar {
  width: 0;
}
.container_gallery {
  border-radius: 30px;
  border: 5px solid;
  max-width: 100%;
  overflow-y: scroll;
  height: 80vh;
  /* display: grid;
  justify-content: center;
  grid-template-columns: 1fr 2fr 1fr;
  grid-gap: 30px; */
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-around;
}

/* .gallery_item {
  margin: 30px;
} */
/* 
.gallery_item:nth-child(1) {
  width: 360px;
  height: 240px;
}
.gallery_item:nth-child(2) {
  width: 360px;
  height: 540px;
}
.gallery_item:nth-child(3) {
  width: 360px;
  height: 240px;
}
.gallery_item:nth-child(4) {
  width: 360px;
  height: 240px;
}
.gallery_item:nth-child(5) {
  width: 360px;
  height: 540px;
}
.gallery_item:nth-child(6) {
  width: 360px;
  height: 240px;
}
.gallery_item > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

.rowAroundEdges {
  flex-direction: column;
}
.rowCenter {
  flex-direction: column;
}